.header {
    background: #2196F3;
    height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    padding: 0 62px;

    @media (max-width: 768px) {
        padding: 0 24px;
        justify-content: space-between;
    }

    .header__link {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-size: 14px;
        background: none;
        height: 100%;
        padding: 0 23px;
        &.active{
            background: #1E88E5;
        }
        &:hover {
            background: #1E88E5;
        }
    }
}